<div
  class="card bg-base-100 w-full shadow-sm hover:shadow-lg transition-shadow duration-300" [class.animate-fade-in]="!isClosing" [class.animate-fade-out]="isClosing">
  <div class="card-body">
    <div class="flex justify-between items-start">
      <h2 class="card-title">{{ categoria.nombre }}</h2>
      <div class="badge" [ngClass]="categoria.activo ? 'badge-success' : 'badge-error'">
        {{ categoria.activo ? 'Activo' : 'Inactivo' }}
      </div>
    </div>
    <p class="text-base-content/70">{{ categoria.descripcion }}</p>
    <div class="card-actions justify-end mt-4">
      <button class="btn btn-sm btn-primary" (click)="editCategory()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
        </svg>
        Editar
      </button>
    </div>
  </div>
</div>
