<div
  class="hero min-h-screen"
  style="background-image: url('/background.jpg');"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-xl">
      <h1 class="mb-5 text-5xl font-bold">Bienvenido a Helados Don Alonso</h1>
      <p class="mb-5">
        Explora nuestro catálogo de helados con los mejores precios. ¡Encuentra el sabor que más te guste!
      </p>
      <button class="btn btn-primary" routerLink="/products/list">Ver Catálogo</button>
    </div>
  </div>
</div>
